/*
	COLORS
 
	Dark Blue 			#222438
	Medium Blue			#959db5
	Light Blue	 		#c9d5e1
	Dark Blue Links		#1a4a6a
	
*/

@font-face {
    font-family: 'RobotoRegular';
    src: url('http://gasp.io/fonts/Roboto-Regular-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('http://gasp.io/fonts/Roboto-Italic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('http://gasp.io/fonts/Roboto-Bold-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('http://gasp.io/fonts/Roboto-BoldItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('http://gasp.io/fonts/Roboto-Condensed-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('http://gasp.io/fonts/Roboto-CondensedItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('http://gasp.io/fonts/Roboto-BoldCondensed-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('http://gasp.io/fonts/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('http://gasp.io/fonts/Roboto-Thin-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('http://gasp.io/fonts/Roboto-ThinItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('http://gasp.io/fonts/Roboto-Light-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('http://gasp.io/fonts/Roboto-LightItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('http://gasp.io/fonts/Roboto-Medium-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('http://gasp.io/fonts/Roboto-MediumItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('http://gasp.io/fonts/Roboto-Black-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-Black-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('http://gasp.io/fonts/Roboto-BlackItalic-webfont.eot');
    src: url('http://gasp.io/fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://gasp.io/fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('http://gasp.io/fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('http://gasp.io/fonts/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: RobotoThin, sans-serif;
	font-size: 30px;
	font-size: 3rem;
	text-align: center;
	background-color: #FFFFFF;
}

h1 {
	font-size: 100px;
	font-size: 10rem;
	margin: 0;
/*	text-shadow: 0 2px 1px #fff;*/
}

p {
	width: 80%;
	margin: 20px auto;
	margin: 2rem auto;
/*	text-shadow: 0 1px 1px #fff;*/
	line-height: 1.2;
}

a, a:visited {
	color: #1a4a6a;
	font-weight: bold;
	font-style: italic;
	text-shadow: none;
}



small {
	line-height: 1;
	font-style: italic;
	font-size: 20px;
	font-size: 2rem;
/*	text-shadow: 0 1px 0 #fff;*/
}

.download {
	padding-left: 15px;
	padding-left: 1.5rem;
}

.pro-tip {
	display: block;
	padding: 20px;
	padding: 2rem;
/*	text-shadow: 0 1px 0 #fff;*/
}

pre {
	font-size: 18px;
	font-size: 1.8rem;
}

blockquote {
	text-align: left;
	width: 70%;
	margin: 10px auto;
	margin: 1rem auto;
	background: #fff;
	border: solid 3px #959db5;
	padding: 0 40px;
	padding: 0 4rem;
	border-radius: 6px;
	border-radius: .6rem;
}

code {
	font-style: normal;
	padding-left: 5px;
	padding-left: .5rem;
}

/*----------------------------------------  HEADER  */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #222438;
	border-bottom: solid 3px #959db5;
	padding: 5px;
	padding: .5rem;
	opacity: .9;
}

#instructions {
	position: fixed;
	top: 25px;
	left: 40px;
	background: #fff;
	border: solid 3px #959db5;
	padding: 5px 10px;
	width: 180px;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	z-index: 99;
	color: #222438
}

#powered {
	font-weight: bold;
	padding-bottom: 20px;
}

.nav-button {
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #959db5;
	font-size: 20px;
	font-size: 2rem;
	text-shadow: 0 -1px 1px #000;
	font-weight: bold;
	font-style: normal;
}

a.nav-button:visited {
	color: #959db5;
}

.current, a.nav-button:hover, a.current:visited {
	color: #fff;
}



/*----------------------------------------  SLIDES  */

.slide {
	margin: 0 auto;
	width: 100%;
	padding: 120px 0;
	padding: 12rem 0;
	height: 40rem;
}

#title {
	line-height: .8;
}

#author {
	width: 75%;
	font-size: 20px;
	font-size: 2rem;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-bottom: 2rem;
	text-align: right;
	font-style: italic;
}

.twitter-follow-button {
	position: relative;
	top: 8px;
	left: 4px;
}


#about {
	background-color: #0B0F11;
	color: #FFFFFF;
	height: 700px;
	height: 70rem;

}


#prelude {
	padding-top: 70px;
	padding-top: 7rem;
	height: 500px;
	height: 50rem;
	background-color: #8BCCED;
}

#topic {
	padding-top: 70px;
	padding-top: 7rem;
	height: 500px;
	height: 50rem;
	background-color: #8BC682;
}

#register {
	padding-top: 70px;
	padding-top: 7rem;
	height: 1700px;
	height: 170rem;
	background-color: #8BCCED;
}

#structure {
	padding-top: 70px;
	padding-top: 7rem;
	height: 800px;
	height: 80rem;
	background-color: #8BC682;
}

#eb {
	padding-top: 70px;
	padding-top: 7rem;
	height: 480px;
	height: 48rem;
	background-color: #FC7365;
}



#examples h1 {
	padding-bottom: 20px;
	padding-bottom: 2rem;
}

#examples, #examples p, #credits {
	line-height: .8;
}

#examples p {
	padding-top: 20px;
}

#credits a {
	padding-right: 3px;
}

.ss-form-container
{
font-size: 20px;
}

/*------------------------  BASE-REM SIZING  */


@media (min-width: 1520px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}
	
@media (max-width: 1160px) {
	html {
		font-size: 9px;
	}
}
	
@media (max-width: 1040px) {
	html {
		font-size: 8px;
	}
}
	
@media (max-width: 920px) {
	html {
		font-size: 7px;
	}
}
	
@media (max-width: 800px) {
	html {
		font-size: 6px;
	}
}
	
@media (max-width: 680px) {
	html {
		font-size: 5px;
	}
}
	
@media (max-width: 560px) {
	html {
		font-size: 4px;
	}
}
	
@media (max-width: 440px) {
	html {
		font-size: 3px;
	}
}

@media (max-width: 320px) {
	html {
		font-size: 3px;
	}
}